ion-toolbar{
    background-color: var(--ion-color-mycolor);   
  }

  .cerrar{
    color: white;
  }

  ion-title{
    color: white;
    font-size: medium;
    font-weight: 500;
  }

ion-button{
  background-color: var(--ion-color-mycolor);
}