




<ion-header collapse="condense">
  <ion-toolbar color="mycolor">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Diario</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list [inset]="true">
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <strong>Titulo</strong><br />
        <ion-text>Subtitulo</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          Breve contenido ...
        </ion-note>      
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">Fecha</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>   

    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <strong>Titulo</strong><br />
        <ion-text>Subtitulo</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          Breve contenido ...
        </ion-note>      
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">Fecha</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>  

    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <strong>Titulo</strong><br />
        <ion-text>Subtitulo</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          Breve contenido ...
        </ion-note>      
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">Fecha</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>  

    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <strong>Titulo</strong><br />
        <ion-text>Subtitulo</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          Breve contenido ...
        </ion-note>      
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">Fecha</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>  


    
  </ion-list>


</ion-content>




