
ion-toolbar{
    background-color: var(--ion-color-mycolor);   
  }

  ion-menu-button{
    color: white;
  }

  ion-title{
    color: white;
  }

  .custom-label {
    width: 100%; /* Establece el ancho al 100% */
    margin: 0; /* Elimina cualquier margen */
  }

  ion-content{
    --background : #F0F4FD;
  
    p{
     font-weight: 300;
    }
  }

  .app-lista-tareas {
    width: 100%;
    margin: 0;
  }

  .ion-item-links{
    font-size: 10px;
    border-bottom: none;
  }

  ion-card-content{
    padding-bottom: 0px;
  }